<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="page-wrapper">
        <header>
            <div class="container">

            </div>
        </header>
        <main>
                <div class="container">
                    <div class="box"></div>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="gallary">
                        <div class="pic-wrap">
                            <img src="assets/img/Ae.jpg" alt="">
                        </div>
                        <div class="pic-wrap">
                            <img src="assets/img/Ae.jpg" alt="">
                        </div>
                        <div class="pic-wrap">
                            <img src="assets/img/Ae.jpg" alt="">
                        </div>
                </div>
                        <div class="flip-container">
                            <div class="inner">
                                <div class="front">
                                    <img src="assets/img/Ae.jpg" alt="">
                                </div>
                            <div class="back">
                                <ul>
                                    <li><a href="">11111</a></li>
                                    <li><a href="">2222</a></li>
                                    <li><a href="">3333</a></li>
                                </ul>
                                 </div>
                            </div>
                         </div>
        </main>
        <footer>
                <div class="container">

                </div>
        </footer>
    </div>
</body>
</html>