.main-navigation {
	font-family: Montserrat, arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	list-style: none;
}

.main-navigation__link {
	display: block;
	position: relative;
	color: #ffffff;
	text-decoration: none;
}

.main-navigation__link:hover {
	color: #fce38a;
}

.main-navigation__link svg {
	fill-rule: evenodd;  
	fill: #ffffff;
}

.main-navigation__link:hover svg {
	fill-rule: evenodd;  
	fill: #fce38a;
}

@media screen and (max-width: 480px) {
	.site-navigation{
		display: flex;
		justify-content: space-between;
	}

	.main-navigation {
		display: none;
	}

	.main-navigation--active {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-top: 5px;
		margin-right: 10px;
	}

	.main-navigation__item {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom: 1px solid #ffffff;

	}

	.main-navigation__link {
		width: 100%;
		text-align: right;
	}
	
	.main-navigation__link--cart {
		width: 17px;
		height: 14px;
	}
	.main-navigation__link--search {
		width: 17px;
		height: 17px;
	}
}

@media screen and (min-width: 480px) {
	.main-navigation {
		display: flex;
		justify-content: space-between;
		min-width: 350px;
		font-size: 14px;
	}

	.main-navigation__item {
		padding: 0;
	}

	.main-navigation__link--cart {
		width: 17px;
		height: 14px;
	}

	.main-navigation__link--search {
		width: 17px;
		height: 17px;
	}
}


@media screen and (min-width: 1210px) {
	.main-navigation {
		width: 515px;
		margin-top: 30px;
	}

	.main-navigation__link::after {
		content: '';
		display: block;
		position: absolute;
		top: 23px;
		width: 0%;
		height: 3px;
		color: #fce38a;
		background-color: #fce38a;
		transition: 0.3s;
	}

	.main-navigation__link:hover::after {
		width: 100%;
	}

	.main-navigation__link--cart {
		margin-top: -1px;
		transform: translateX(8px);
	}

	.main-navigation__link--search {
		margin-top: -2px;
	}
}





