.scroll-wrapper {
    position: relative;
    padding: 0;
    overflow: hidden;
}
 
.scroll-wrapper > .scroll-content {
    position: relative;
    width: auto;
    top: 0;
    left: 0;
    margin: 0;
    padding-right: 25px;
    overflow: scroll;
}
 
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
 
.accordion__text > .scroll-element,
.accordion__text > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}
 
.accordion__text > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
 
.accordion__text > .scroll-element.scroll-y {
    height: 100%;
    right: 0;
    top: 0;
    width: 5px;
}
  
.accordion__text > .scroll-element .scroll-element_track,
.accordion__text > .scroll-element .scroll-bar {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.accordion__text > .scroll-element .scroll-element_track { 
    background-color: #f5f5f5; 
}

.accordion__text > .scroll-element .scroll-bar { 
    background-color: #95e1d3; 
}
