* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  background: #FFF;
}

ul, li, a {
  list-style: none;
}

a, button {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

img {
  vertical-align: top;
}

.container {
  width: min(90%, 1200px);
  margin: 0 auto;
}