*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a, button {
  transition: all 0.2s ease;
  cursor: pointer;
}

.container {
  width: min(90%, 1170px);
  margin: 0 auto;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: black;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

main {
  flex-grow: 1;
}

/* roboto-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.roboto, .text, .log-in, button[type=submit], label[for], .title {
  font-family: "Roboto";
}

.inter, a {
  font-family: "Inter";
}

.block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: 55px;
}

.page-wrapper {
  background: #F7F7F7;
}

.page-1, .page-2 {
  background-color: #FFF;
  width: 570px;
  height: 590px;
  border-radius: 10px;
}

.grid-page-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repear(4, 1fr);
  column-gap: 10px;
  row-gap: 20px;
  margin-left: 36px;
  margin-right: 34px;
}

.grid-page-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repear(3, 1fr);
  margin-left: 35px;
  margin-right: 35px;
  column-gap: 10px;
  row-gap: 20px;
}

.type-1 {
  grid-column: 1/span 1;
}

.type-2 {
  grid-column: 2/span 1;
}

.type-3 {
  grid-column: 1/span 2;
}

.title {
  color: #1C1C1C;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 7px;
}

.page-1 .title {
  margin: 35px 335px 20px 36px;
}

.page-2 .title {
  letter-spacing: -0.025rem;
  margin: 35px 466px 10px 35px;
}

label[for] {
  color: #545454;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: -0.0125rem;
}

label[for=male] {
  margin-right: 21px;
}

select .pale-text {
  color: #969696;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: -0.00625rem;
}

.pale-text {
  color: #969696;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: -0.00625rem;
}

.private-police {
  text-align: center;
}

.line {
  border-bottom: 1px solid #E4E4E4;
  width: 500px;
  margin: 20px 36px 20px 34px;
}

.photo-block {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 35px;
}
.photo-block .photo {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
.photo-block .trash-icon {
  margin-left: 10px;
  cursor: pointer;
}
.photo-block .sell-file {
  width: 138px;
  height: 30px;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  color: transparent;
  cursor: pointer;
}

.sell {
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  width: 245px;
  height: 38px;
  padding: 7px 10px;
}

.page-1 .email {
  width: 500px;
}

.sell:focus {
  border-color: #007BFF;
  outline: none;
}

button[type=submit] {
  width: 500px;
  height: 38px;
  color: #FFF;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: -0.00625rem;
  background-color: #007BFF;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
}

.page-1 button {
  margin: 20px 34px 22px 36px;
  padding: 8px 10px;
}

.page-2 button[type=submit] {
  margin: 20px 385px 104px 35px;
  width: 150px;
  height: 38px;
  padding: 8px 10px;
}

a {
  text-decoration: none;
  color: #007BFF;
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: -0.00625rem;
}

a:hover {
  text-decoration: underline;
  font-size: 0.8625rem;
}

button:hover {
  color: black;
}

.log-in {
  color: #007BFF;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: -0.00625rem;
}

.log-in:hover {
  font-size: 0.9875rem;
  text-decoration: none;
}

.text {
  color: #545454;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: -0.0125rem;
}

input[checkbox] {
  margin-bottom: 20px;
}

.checkbox-icon::before {
  content: "";
  background: url("../img/checkbox-static.svg") right 0px top 0px no-repeat;
  width: 20px;
  height: 20px;
}

.checkbox-icon:checked {
  content: "";
  background: url("../img/checkbox.svg") right 0px top 0px no-repeat;
  width: 20px;
  height: 21px;
  appearance: none;
}

.select-icon {
  background: #fff url("../img/select-icon.svg") right 10px top 10px no-repeat;
  padding-right: 40px;
  appearance: none;
}

.photo-icon {
  background: #fff url("../img/photo-camera.svg") right 8px top 7px no-repeat;
  padding-right: 40px;
  appearance: none;
}

.trash-icon {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  overflow: hidden;
}
.trash-icon img {
  width: 16px;
  height: 16px;
}

.trash-icon img:hover {
  scale: 1.3;
  transition: all 0.1s ease;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  width: 245px;
  height: 38px;
  background: #fff url("../img/select-icon.svg") right 10px top 10px no-repeat;
  appearance: none;
  color: #545454;
}