.intro-slider {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.intro-slider__input {
	display: none;
}

.intro-slider__list {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #ffffff;
}

.intro-slider__item {
	width: 100%;
	display: none;
	flex-direction: column;
	align-items: center;
}

.intro-slider__title {
	width: 100%;
	font-family: 'KaushanScript', cursive;
	text-align: center;
}

.intro-slider__sub-title {
	position: relative;
	display: block;
	font-family: Montserrat, arial, sans-serif;
	line-height: 0.933333333;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.intro-slider__sub-title::after {
	position: absolute;
	content: '';
	display: block;
	width: 60px;
	height: 3px;
	background-color: #ffffff;
	left: 50%;
	margin-left: -30px;
}

.intro-slider__btn {
	box-sizing: border-box;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Montserrat, arial, sans-serif;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.5s;
}

.intro-slider__btn {
		position: relative;
		width: 165px;
		height: 40px;
		margin-bottom: 183px;
		border: 3px solid #ffffff;
		font-size: 14px;
		z-index: 1;
	}

.intro-slider__btn::before {
	content: '';
	position: absolute;
	top: -0px;
	left: -0px;
	right: -0px;
	bottom: -0px;
	z-index: -1;
	background: linear-gradient(45deg, #00a900, transparent, #00a900);
	background-size: 1000%;
	opacity: 0;
	transition: 0.1s;
}

.intro-slider__btn:hover::before{
	filter: blur(5px);
	opacity: 1;
	animation: animate_btn 10s linear infinite;
}

@keyframes animate_btn {
	0% {
		background-position: 0%;
	}
	
	100% {
		background-position: 1000%;
	}
}

.intro-slider__controls {
	display: flex;
	width: 100%;
	padding: 0;
	justify-content: space-between;
	list-style: none;
	font-family: Montserrat, arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
}

.intro-slider__control {
	display: block;
	position: relative;
	opacity: 0.5;
	cursor: pointer;
	transition: 0.5s;
}

.intro-slider__control:hover {
	opacity: 1;
}

.intro-slider__control span {
	font-weight: 700;
}

.intro-slider__control::before {
	content: '';
	position: absolute;
	display: block;
	height: 3px;
	background-color: #ffffff;
	transition: 0.5s;
}

.intro-slider__control:hover::before {
	background-color: #f38181;
}	

.intro-slider__input--1:checked ~ .intro-slider__list .intro-slider__item--1 {
	display: flex; 
}

.intro-slider__input--2:checked ~ .intro-slider__list .intro-slider__item--2 {
	display: flex;
}

.intro-slider__input--3:checked ~ .intro-slider__list .intro-slider__item--3 {
	display: flex;
}

.intro-slider__input--4:checked ~ .intro-slider__list .intro-slider__item--4 {
	display: flex;
}

.intro-slider__input--1:checked ~ .intro-slider__controls .intro-slider__control--1 {
	opacity: 1;
}

.intro-slider__input--2:checked ~ .intro-slider__controls .intro-slider__control--2 {
	opacity: 1;
}

.intro-slider__input--3:checked ~ .intro-slider__controls .intro-slider__control--3 {
	opacity: 1;
}

.intro-slider__input--4:checked ~ .intro-slider__controls .intro-slider__control--4 {
	opacity: 1;
}

.intro-slider__input--1:checked ~ .intro-slider__controls .intro-slider__control--1::before {
	opacity: 1;
	background: linear-gradient(to right, #f38181 25%, #ffffff 25%);
}	

.intro-slider__input--2:checked ~ .intro-slider__controls .intro-slider__control--2::before {
	opacity: 1;
	background: linear-gradient(to right, #f38181 25%, #fff 25%);
}

.intro-slider__input--3:checked ~ .intro-slider__controls .intro-slider__control--3::before {
	opacity: 1;
	background: linear-gradient(to right, #f38181 25%, #fff 25%);
}

.intro-slider__input--4:checked ~ .intro-slider__controls .intro-slider__control--4::before {
	opacity: 1;
	background: linear-gradient(to right, #f38181 25%, #fff 25%);
}

@media screen and (max-width: 480px) {
	.intro-slider {
		width: 95%;
		margin-top: 36px;
	}

	.intro-slider__title {
		font-size: 32px;
		margin-bottom: 5px;
	}

	.intro-slider__sub-title {
		margin-bottom: 25px;
		font-size: 50px;
		line-height: 0.933333333;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
	}

	.intro-slider__sub-title::after {
		bottom: -10px;
	}

	.intro-slider__btn {
		width: 90px;
		height: 20px;
		margin-bottom: 25px;
		border: 1px solid #ffffff;
		font-size: 10px;
	}

	.intro-slider__controls {
		margin-bottom: 5px;
		font-size: 12px;
	}

	.intro-slider__control span {
		font-size: 14px;	
	}

	.intro-slider__control::before {
		bottom: 17px;
		width: 100%;
	}
}

@media screen and (min-width: 480px) {
	.intro-slider {
		width: 95%;
		margin-top: 50px;
	}

	.intro-slider__title {
		font-size: 50px;
		margin-bottom: 15px;
	}

	.intro-slider__sub-title {
		margin-bottom: 50px;
		font-size: 80px;
		line-height: 0.933333333;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
	}

	.intro-slider__sub-title::after {
		bottom: -20px;
	}

	.intro-slider__btn {
		width: 140px;
		height: 30px;
		margin-bottom: 70px;
		border: 2px solid #ffffff;
		font-size: 14px;
	}

	.intro-slider__controls {
		margin-bottom: 15px;
		font-size: 15px;
	}

	.intro-slider__control span {
		font-size: 20px;	
		width: 80px;
	}

	.intro-slider__control::before {
		bottom: 30px;
		width: 110px;
	}
}

@media screen and (min-width: 1210px) {
	.intro-slider {
		width: 1200px;
		margin-top: 211px;
	}

	.intro-slider__title {
		margin-bottom: 35px;
		font-size: 72px;
	}
	.intro-slider__sub-title {
		margin-bottom: 98px;
		font-size: 150px;
	}

	.intro-slider__sub-title::after {
		bottom: -48px;
	}

	.intro-slider__controls {
		margin-bottom: 23px;
		font-size: 18px;
	}

	.intro-slider__control {
		width: 280px;
	}

	.intro-slider__control span {
		font-size: 24px;	
	}

	.intro-slider__control::before {
		bottom: 47px;
		width: 280px;
	}
}


