
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

img {
  width: 100%;
  height: auto;
}

/**
 * Remove default margin.
 */

body,
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}



article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
img {
  display: block;
}
/* Блоковий елемент: Елемент займає всю доступну ширину на сторінці та починається з нового рядка. Після нього також додається новий рядок.
Поведінка за замовчуванням для багатьох елементів: Багато елементів HTML, такі як заголовки (<h1> - <h6>), параграфи (<p>), списки (<ul> та <ol>), а також елементи для блочного розміщення (<div>) за замовчуванням мають display: block;. */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}



audio:not([controls]) {
  display: none;
  height: 0;
}



[hidden],
template {
  display: none;
}



a {
  background-color: transparent;
}


abbr[title] {
  border-bottom: 1px dotted;
}
/* Цей код використовується для стилізації абревіатур, які мають атрибут title.

Пояснення кожної строчки:

1. abbr[title]:

Цей селектор вибирає всі абревіатури (abbr), які мають атрибут title.
2. border-bottom: 1px dotted;:

Ця властивість CSS встановлює нижню межу абревіатури товщиною 1 піксель у стилі пунктиру. */

b,
strong {
  font-weight: bold;
}



dfn {
  font-style: italic;
}



h1 {
  margin: 0;
}



mark {
  background: #ff0;
  color: #000;
}


small {
  font-size: 80%;
}
/* У цьому випадку small вибирає всі елементи HTML з тегом <small>.
2. Властивість font-size

Ця властивість визначає розмір шрифту для обраних елементів.
3. Значення 80%

Значення 80% встановлює розмір шрифту на 80% від розміру шрифту батьківського елемента.
Загалом, цей код робить весь текст, що знаходиться всередині тегів <small> на 20% меншим, ніж шрифт навколо нього. */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* code: використовується для відображення фрагментів коду.
kbd: використовується для відображення тексту, який вводиться користувачем з клавіатури.
pre: використовується для форматування тексту з фіксованою шириною.
samp: використовується для відображення зразків виведення програми.
Розбивка коду:

font-family: monospace, monospace;: Ця властивість встановлює шрифт для вищезазначених елементів на моноширинний. Це означає, що всі символи матимуть однакову ширину, що робить текст більш чітким, читабельним, especially for code.
font-size: 1em;: Ця властивість встановлює розмір шрифту для вищезазначених елементів на 1em, що еквівалентно розміру шрифту батьківського елемента.
Загалом, цей код робить наступне:

Встановлює моноширинний шрифт для code, kbd, pre та samp.
Встановлює розмір шрифту для цих елементів на 1em, що робить його еквівалентним розміру шрифту батьківського елемента. */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}


button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
